body
{
background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin-top: 17%;
}

.btn
{
	padding: 1rem 2rem;
	border-radius:360px;
	margin-top: 160%;
}

.btn-primary
{
	background-color: rgb(255,172,0);
	border: 0px;


}

.btn:hover
{
	animation: shakeY;
	animation-duration:1s;
	animation-iteration-count: 1;
	background-color: rgb(255,172,0);
	border: 0px;
}

h1
{
	font-family: 'Bangers', cursive;
	color: white;

}

h1:hover
{
	animation: bounce;
	animation-duration: 3s;
	animation-iteration-count:infinite;
}
